[submodule "lib/ExVectrHal"]
	path = lib/ExVectrHal
	url = https://github.com/ExVeCtr/ExVectrHAL.git
[submodule "lib/ExVectrCore"]
	path = lib/ExVectrCore
	url = https://github.com/ExVeCtr/ExVectrCore.git
[submodule "lib/ExVectrLibTemplate"]
	path = lib/ExVectrLibTemplate
	url = https://github.com/ExVeCtr/ExVectrLibTemplate.git
[submodule "lib/ExVectrWindowsPlatform"]
	path = lib/ExVectrWindowsPlatform
	url = https://github.com/ExVeCtr/ExVectrWindowsPlatform.git
