[submodule "lib/ExVectrHal"]
	path = lib/ExVectrHal
	url = https://github.com/ExVeCtr/ExVectrHAL.git
[submodule "lib/ExVectrCore"]
	path = lib/ExVectrCore
	url = https://github.com/ExVeCtr/ExVectrCore.git
[submodule "lib/ExVectrArduinoPlatform"]
	path = lib/ExVectrArduinoPlatform
	url = https://github.com/ExVeCtr/ExVectrArduinoPlatform.git
